html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  background-image: url("Imagenes/background.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.nav {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.netflix {
  font-weight: 900;
  font-size: 2.4rem;
  color: rgb(225, 4, 4);
}

.nav-bar ul {
  display: flex;
}

.nav-bar li {
  padding: 0 1rem;
  list-style-type: none;
}

.nav-bar a {
  color: #fff;
  font-size: 1.4rem;
  text-decoration: none;
}

.nav-bar a:hover {
  color: rgb(255, 69, 1);
}

.search {
  position: relative;
  background: inherit;
}

.search input {
  width: 250px;
  height: 30px;
  color: #fff;
  padding: 0.5rem;
  padding-left: 26px;
  border-radius: 5px;
  border: 1px solid #ababab;
  background-color: inherit;
}

::placeholder {
  color: #e4e1e1;
}

.search input:focus {
  background: #aeabab42;
}

.search button {
  position: absolute;
  left: 1px;
  top: 8px;
  border: none;
  outline: none;
  background: inherit;
}

button i {
  color: #fff;
}

.main {
  width: 100%;
  display: flex;
  height: calc(100vh - 10vh);
}

.main-left {
  width: 55%;
  padding: 20rem 1rem 1rem 2rem;
}

.N-serie {
  margin: 0;
  padding: 1rem 0 0 0;
  letter-spacing: 3px;
}

.N-serie span {
  color: #f00;
  font-size: 2rem;
  font-weight: 900;
}

.title {
  margin: 0;
  font-size: 6rem;
  font-weight: 900;
  font-family: "Noto Serif", serif;
  background-image: url('Imagenes/background-letter.webp');
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
}

.description {
  font-size: 1.3rem;
  color: rgb(197, 197, 197);
}

.description-edad {
  color: #fff;
  padding: 0 .3rem;
  background: rgb(178, 6, 6);
}

.pipe {
  padding: 0 .6rem;
}

.text {
  font-size: 1.4rem;
  padding: .5rem 2rem .5rem 0;
  color: rgb(230, 230, 230);
}

.button {
  border: none;
  outline: none;
  color: #fff;
  margin-right: 1rem;
  padding: .4rem 1rem;
  background: inherit;
}

.button:hover {
  cursor: pointer;
}

.button-play {
  background: rgb(212, 8, 8);
}

.trailer {
  padding: 1rem;
  display: block;
  margin: 1rem 0;
  font-size: 2rem;
  color: #d3cfcf;
  font-weight: 100;
  text-decoration: none;
}

.main-right {
  width: 45%;
}

@media screen and (max-width: 1040px) {

  .nav {
    flex-wrap: wrap;
  }

  .main-left {
    width: 55%;
    padding: 4rem 1rem 1rem 2rem;
  }
}

@media screen and (max-width: 750px) {

.main-left {
  width: 100%;
  padding: 15rem 1rem 1rem 2rem;
}

.main-right {
  display: none;
}
}

@media screen and (max-width: 500px) {

  .hidden-search {
    display: none;
  }
}

@media screen and (max-width: 440px) {
  body {
    min-width: 400px;
  }
}